@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #36594A;
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

#scoreboard-container {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}

#player-scoreboard,
#computer-scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#player-scoreboard p,
#computer-scoreboard p {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #fff;
}

#player-score-box,
#computer-score-box {
    display: flex;
    justify-content: center;
    width: 280px;
    border: 4px dotted #fff;
    background-color: #000;
    padding: 50px 0;
}

#player-score-box p,
#computer-score-box p {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: #ffa500;
    margin: 0;
}

#play-again {
    background-color: black;
    padding: 20px;
    border: 4px dotted #ffa500;
    cursor: pointer;
}

#message-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

#message-container p {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #fff;
}

#button-container {
    display: flex;
    gap: 120px;
}

.option-selector-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 180px;
    height: 120px;
    border: 1px solid #fff;
    cursor: pointer;
}

#rock-box {
    background-image: url("assets/rock-image.png");
}

#paper-box {
    background-image: url("assets/paper-image.png");
}

#scissors-box {
    background-image: url("assets/scissors-image.png");
    background-size: cover;
}